/* variables to standardise colour and size */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif; }

section {
  padding: 1rem; }

h2 {
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic; }

h3 {
  color: #ed5679;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase; }

p {
  line-height: 1.5; }

.btn__support, .btn__support:hover {
  background-color: #ed5679;
  border-color: white;
  color: white; }
  .btn__support:hover {
    background-color: black; }

.cards__flex {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem; }

.card {
  border-color: white;
  box-shadow: 2px 2px 4px #0000001e; }

.card-body img {
  width: 100px;
  display: block;
  padding: 10px; }

.card-body a {
  display: block; }

/* --- MAIN --- */
.welcome__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.welcome__img img {
  width: 20rem; }

.index__projects img {
  height: 10rem; }

.index__welcome {
  padding: 1rem; }

.index__welcome p {
  text-align: justify;
  padding-top: 1rem; }

.index__contact-banner {
  background-color: #ed5679;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .index__contact-banner h2 {
    color: white;
    font-size: 1.2rem; }
  .index__contact-banner p {
    padding: 2rem; }
  .index__contact-banner a {
    text-decoration: none;
    color: #ed5679;
    background-color: white;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-weight: 750;
    display: flex;
    justify-content: center;
    border-color: white; }
    .index__contact-banner a:hover {
      background-color: #ed5679;
      border-color: white;
      border-width: .1rem; }

/* --- GALLERY --- */
.gallery__photos {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap; }
  .gallery__photos img {
    width: 20rem;
    height: 16rem; }
    .gallery__photos img:hover {
      transform: scale(1.2, 1.2);
      transition: .5s ease-in-out; }

/* --- NAVBAR --- */
.header {
  background-color: grey;
  background-image: url(../resources/img/main.jpg);
  width: 100%;
  background-size: cover; }

.navbar__logo:hover {
  background-image: url(../resources/logo3.png); }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-item {
  padding-right: 3rem;
  padding-left: 3rem; }

.nav-link {
  color: white;
  font-size: 1.1rem;
  font-weight: 750;
  text-align: center; }

.navbar-collapse {
  display: flex;
  justify-content: space-around; }

/* --- FOOTER --- */
footer {
  display: flex; }
  footer .footer__contact p {
    text-transform: uppercase;
    font-weight: 900; }
  footer .footer__contact-btn {
    background-color: #ed567932;
    border-color: #ed567932; }
  footer .footer__contact-btn:hover {
    background-color: #ed567956;
    border-color: #ed567932; }
  footer .footer__logo img {
    width: 12rem;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  footer .footer__social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  footer .footer__social img {
    width: 4rem;
    height: 4rem;
    padding: 1rem; }
  footer .footer__social-icons {
    margin-left: auto; }
  footer .footer__social-trademark {
    margin-left: auto;
    font-size: .9rem;
    color: grey; }

@media (max-width: 768px) {
  .footer__social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; } }
