// GALLERY

$imagenes: (
    img1: url('../resources/img/buckets_02.jpg'),
    img2: url('../resources/img/buckets_03.jpg'),
    img3: url('../resources/img/four_colours.jpg'),
    img4: url('../resources/img/yellow.jpg'),
);

.imagenes: {
    width: 100px;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

@each $name, $url in $imagenes {
    .imagen-#($name) {
        @extend .imagenes;
        background-image: #($url);
    }
}


//EXTEND

.gallery__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    border: 10px solid blue;
}

.galley__img--highlighted {
    @extend .gallery__img;
    width: 100%;
}

// MIXIN (each + extend; declare base functions to be used with different values)

@mixin flexbox ($flex-direction, $justify, $align) {
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}

.card {
    @include flexbox(column, center, center);
}

.img {
    @include flexbox(row, flex-start, flex-end);
}



// EXAMPLE
$img-card:(
    camisa: url('../resources/img/buckets_02.jpg'),
    gorra: url('../resources/img/buckets_03.jpg'),
    pantalon: url('../resources/img/four_colours.jpg'),
    zapatos: url('../resources/img/yellow.jpg'),
);

.img-size {
    width: 200px;
    height: 300px;
    border: 10px solid white;
}

.card_general {
    display: flex;
    gap: 20px;
}

.card{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 600px;
}

@each $name, $url in $img-card {
    .img-#{$name} {
        @extend .img-size;
        background-image: #{$url};
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@mixin titles($font-size, $color) {
    font-size: $font-size;
    color: $color;
}
