// COMPONENTS: generic items to be used in different views.

.btn__support{
    background-color: $color-primary;
    border-color: $color-secondary;
    color: $color-secondary;
    &:hover{
        @extend .btn__support;
        background-color: $color-accent;
    }
}